:root{
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}


body{
    background: url('img/bg-desktop.webp');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.cartao{
    margin: 1rem 1rem;
    height: 15rem;
    flex-grow: 1;
    flex-basis: calc(33% - 4rem);
}

.cartao__conteudo{
    text-align: center;
    background-color: rgb(179, 164, 142);
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 600ms ease-in-out;
}

.cartao__conteudo h3{
    background-color: rgba(165, 42, 42, 0.61);
    text-align: left;
    padding: 0.2rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.3rem;
    font-size: small;
    backface-visibility: hidden;
}

.cartao__conteudo p{
    margin-top: 1rem;
    padding: 1.5rem;
    margin-top: 2.5rem;
}

.cartao__conteudo__pergunta p{
    color:rgba(206, 23, 23, 0.61);
    font-weight: 300;
}

.cartao__conteudo__resposta p{
    color: antiquewhite;
    font-weight: 400;
}

.cartao.active .cartao__conteudo{
    transform: rotateY(180deg);
}


.cartao__conteudo__pergunta,
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;


}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: #3320029a;
    border: solid blue;
}

footer{
    background-color: burlywood;
    color:greenyellow;
    position: fixed;
    bottom: 0;
    width: 99.1%;
}

footer p{
    text-align: center;
    font-size: 0.7rem;
}


@media(max-width:560px){
   
    body{
        background: url(img/bg-mobile.webp)      
    }

.cartao {
    flex: 1 0 calc(100% - 1rem);
}

.cartao__conteudo h3 {
    font-size: 3vw;
    
}


.cartao__conteudo p{
    font-size: large;
}




}